venv/ 
.venv/ 
__pycache__/ 
*.pyc 
.env 
token.txt 
moderation.db 
*.db 
models/*
!models/best_model.pkl
!models/tfidf_vectorizer.pkl
data/ 
*.ipynb 
*.pdf 
*.docx 
*.jpg 
*.png 
*.gan 
.vscode/ 
.idea/ 
__pycache__/ 
